//
   Created by ed on 06.05.17.

div.row(align='middle')
    div.col-lg-6.col-lg-offset-3
        h3.lobby__title#lobby_title
        hr
        div.lobby__users#lobby_users
div.row(align='middle')
    div.col-lg-6.col-lg-offset-3
        button.formconstruct-buttons__button#lobby_single= 'Поиграть одному'
