//
   Created by ed on 25.03.17.

div.container.border
    row
        div.col-lg-2
        div.col-lg-6
            div#inside_block
                div!= element.outerHTML
        div.col-lg-1
        div.col-lg-3
            div.row
                img.img-responsive(src=img.toString())
