//
   Created by ed on 25.03.17.

div.container.appname
    div.row
        div.col-lg-6
            h1
                a.appname.appname-brand.appname-brand-joking= 'Joking'
        div.col-lg-6
            h1
                a.appname.appname-brand.appname-brand-hazard= 'Hazard'
