.score_list {
    font-family: DigitalStrip;
    font-size: medium;
}

.score_list {
    margin: 10px;
    border-collapse: collapse;
}

.score_list tr, th {
    padding: 3px;
    border: 2px solid #A8A8A8;
}
