$green: #42A045;

.scorelist {
    font-family: DigitalStrip;
    font-size: medium;
    margin: 10px;
    border-collapse: collapse;

    &__head {
        font-weight: bold;
    }

    &__head, &__cell, &__row {
        padding: 3px;
        border: 2px solid #A8A8A8;
    }

    &__separator {
        text-align: center;
        font-weight: bolder;
    }

    &__thisuser {
        padding: 3px;
        border: 2px solid #A8A8A8;
        background-color: $green;
        color: white;
    }
}
