//
   Created by ed on 07.04.17.

div.container
    div.row
        div.col-lg-3
            div.row.userheader__appname
                div.col-lg-6
                    h1
                        a.userheader__appname.userheader__appname__brand.userheader__appname__brand__joking= 'Joking'
                div.col-lg-6
                    h1
                        a.userheader__appname.userheader__appname__brand.userheader__appname__brand__hazard= 'Hazard'
        div.col-lg-8
            div.row
                h1.col-lg-6.userheader__login#userheader_login
                h1.col-lg-6.userheader__score
                    | Score:
                    |
                    small#userheader_score
        div(align="right").col-lg-1
            image(src="images/Users-Exit-icon.png").userhead.userheader__logout#userheader_logout
