//
   Created by ed on 07.04.17.

div.container
    div.row
        div.col-lg-3
            div.row.userheader-appname
                div.col-lg-6
                    h1
                        a.userheader-appname.userheader-appname-brand.userheader-appname-brand-joking= 'Joking'
                div.col-lg-6
                    h1
                        a.userheader-appname.userheader-appname-brand.userheader-appname-brand-hazard= 'Hazard'
        div.col-lg-6
            div.row
                h1.col-lg-6.userheader-login#userheader_login
                h1.col-lg-6
                    | Score:
                    |
                    small#userheader_score
        button.col-lg-3.userheader.userheader-logout.btn.btn-danger#userheader_logout= "Выйти"
