.input_form {
    text-align: center;
    font-family: DigitalStrip;
    display: block;
}

.input_form > input {
    margin: 2px;
    min-height: 35px;
    width: 80%;
    font-size: medium;
}

.input_form > button {
    border-radius: 12px;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    font-size: medium;
    color: white;
    background-color: #42A045;
    margin:  2px;
    width: 35%;
}
